html, body {
  background-color: #eef3f4 !important;
  font-family: 'Segoe UI', sans-serif;

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}


footer {
  background-color: #1E2A38;
  color: white;
  font-weight: 700;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}



.card {
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}



.navbar-custom {
    background-color: #1e2a38;
    padding: 10px 20px;
}

.navbar-custom .nav-link {
    color: #d1a6be;
    margin-right: 15px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #FFCC00;
}

.navbar-brand{
  font-weight: 700;
  color: white;
}

